/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*reset*/
/*common*/
.flex {
    display: flex;
}
.contenitore {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.25rem 0px;
}

.b-blue {
    background-color: #9792e4;
}
.t-white{
    color: white;
}
.white-box{
    background-color: white;
    border-radius: 5px;
    padding: 0.3125rem  0.63rem;
}
.only-mobile{
    display: none;
}
/*common*/
/*debug*/

.cards {
    height: 15.625rem;
}

.col {
    background-color: yellow;
    height: 37.5rem;
    border: 1px solid black;
}
.user-cards{
    height: 150px;
}
.about-us{
    background-color: red;
    height: 300px;
}
.user{
    background-color: red;
    height: 250px;
}
.info{
    background-color: green;
    height: 200px;
}
/*debug*/
/*header*/
header {
    background-color: #0084fd;
}

.navbar {
    justify-content: space-between;
    padding: 0 1.25rem;
    align-items: center;
    font-size: 0.9rem;
}
.logo{
    padding: 0.625rem;
}
.logo img {
    width: 100%;
}
.white-box a{
    color:black
}
a{
    text-decoration: none;
    color: white;
}

li{
    padding: 0 1rem;
    list-style: none;
    align-self: center;
}

/*header*/
/*main*/
.card-box {
    gap: 10px;
    flex-wrap: wrap;
    padding: 1.25rem 1.25rem 2.5rem 1.25rem;
}

.cards {
    width: calc(100% / 3 - 10px);
    background-color: #b5ddff;
    flex-grow: 1;
}

.big-card {
    width: calc(100% / 3 * 2)
}

.box {
    justify-content: center;
    padding:2.5rem 0 1.25rem 0 ;
    margin: 0 1.25rem;
}

.col {
    width: calc(100% / 2 - 10px);
    padding: 2.5rem 1.25rem;
}
.user-box{
    padding: 1.25rem 0 1.875rem;
    margin: 0 1.25rem;
}
.user-cards{
    width: 100%;
    margin: 1.8rem 0;
}
.b-blue .cards{
    background-color: white;
}
.about-us {
    width: 70%;
    padding:1.25rem 1.25rem ;
    margin: 2rem 0 2.5rem;
}
.user{
    width: 30%;
    padding:1.25rem 1.25rem ;
    margin: 2rem 0 2.5rem;
}
.info{
    text-align: center;
    padding:1.25rem 1.25rem;
}
/*main*/
/*footer*/
footer{
    background-color: #333333;
}
/*footer*/

/************************
responsive
*************************/
/*tablet*/
@media screen and (max-width:991px){
    .box{
        display: block;
    }
    .col{
        width: 100%;
    }
   .b-blue .cards{
        width: calc(100% / 2 - 10px);
    }
    .only-mobile{
        display: block;
    }
    .only-desktop{
        display: none;
    }
}
/*smartphone*/
@media screen and ( max-width: 767px){
    .flex-off{
        display: block;
    }
    .card-box{
        display: block;
    }
    .cards{
        width: 100%;
       margin: 1rem 0; 
    }
    .b-blue .cards{
        width: 100%;
    }
    .about-us{
        width: 100%;
    }
    .user{
        width: 100%;
    }
}