/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*reset*/
/*typography*/
body{
font-size: 0.875rem;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article{
    line-height: 1.25rem;
}
/*typography*/
/*common*/
.t-center{
    text-align: center;
}
.space{
    padding-bottom: 1.25rem;
}
.flex {
    display: flex;
}
.contenitore {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.25rem 0px;
}

.b-blue {
    background-color: #9792e4;
}
.t-white{
    color: white;
}
.white-btn{
    background-color: white;
    border-radius: 25px;
    padding: 0.3125rem  0.63rem;
    text-align: center;
}
.white-btn a{
    color:black
}
.blue-btn{
    background-color: #0084fd;
    border-radius: 25px;
    padding: 0.3125rem  0.63rem;
    text-align: center;
    max-width: 8rem;
}
.only-mobile{
    display: none;
}
/*common*/
/*debug*/


.col {
    background-color: yellow;
    height: 37.5rem;
    border: 1px solid black;
}
.user-cards{
    height: 150px;
}
.about-us{
    background-color: red;
    height: 300px;
}
.user{
    background-color: red;
    height: 250px;
}
.info{
    background-color: green;
    height: 200px;
}
/*debug*/
/*header*/
header {
    background-color: #0084fd;
}

.navbar {
    justify-content: space-between;
    padding: 0 1.25rem;
    align-items: center;
    font-size: 0.9rem;
}
.logo{
    padding: 0.625rem;
}
.logo img {
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}

li{
    padding: 0 1rem;
    list-style: none;
    align-self: center;
}

/*header*/
/*main*/
.card-box {
    gap: 10px;
    flex-wrap: wrap;
    padding: 1.25rem 1.25rem 2.5rem 1.25rem;
}
.cards h3{
    color: #0084fd;
    font-size: 1.25rem;
}
.cards .i-xl{
    font-size: 3rem;
    padding: 2rem 0 2rem 0;

}
.cards .blue-btn{
    width: 50%;
}
.inf-card{
    width: 50%;
}
.card-img{
    width: 50%;
    justify-content: center;
}
.card-img img{
    width: 60%;
   
}

.cards {
    width: calc(100% / 3 - 10px);
    background-color: #b5ddff;
    flex-grow: 1;
    border-radius: 0.9375rem;
    padding: 1.5625rem 1.5625rem 1.5625rem;

    
}

.big-card {
    width: calc(100% / 3 * 2);
    padding-bottom: 0;
}

.box {
    justify-content: center;
    padding:2.5rem 0 1.25rem 0 ;
    margin: 0 1.25rem;
}

.col {
    width: calc(100% / 2 - 10px);
    padding: 2.5rem 1.25rem;
}
.user-box{
    padding: 1.25rem 0 1.875rem;
    margin: 0 1.25rem;
}
.user-cards{
    width: 100%;
    margin: 1.8rem 0;
}
.b-blue .cards{
    background-color: white;
}
.about-us {
    width: 70%;
    padding:1.25rem 1.25rem ;
    margin: 2rem 0 2.5rem;
}
.user{
    width: 30%;
    padding:1.25rem 1.25rem ;
    margin: 2rem 0 2.5rem;
}
.info{
    text-align: center;
    padding:1.25rem 1.25rem;
}
/*main*/
/*footer*/
footer{
    background-color: #333333;
}
/*footer*/

/************************
responsive
*************************/
/*tablet*/
@media screen and (max-width:991px){
    .big-card{ 
        flex-direction: column;
    }
    .inf-card{
        width: 100%;
        padding-bottom: 1.25rem;
    }
    .card-img{
        width: 100%;
        flex-direction: column;
        justify-content: end;
    }
    .card-img img{
        width: 50%;
    }
    .box{
        display: block;
    }
    .col{
        width: 100%;
    }
   .b-blue .cards{
        width: calc(100% / 2 - 10px);
    }
    .only-mobile{
        display: block;
    }
    .only-desktop{
        display: none;
    }
}
/*smartphone*/
@media screen and ( max-width: 575px){
    .flex-off{
        display: block;
    }
    .card-box{
        display: block;
    }
    .card-img{
        width: 100%;
        align-items: center;
    }
    .cards{
        width: 100%;
       margin: 1rem 0; 
    }
    .b-blue .cards{
        width: 100%;
    }
    .about-us{
        width: 100%;
    }
    .user{
        width: 100%;
    }
}